{% extends 'analyzer/base.html' %}
{% block reports_active %}active{% endblock %}

{% block content %}
<div class="container" id="reports">

    <h3>My reports</h3>
    {% if reports_list %}
    <div class="list-group">
        {% for report in reports_list %}
        <a href="{{ report.file }}" target="_blank" class="list-group-item col-sm-7"><span class="col-sm-8">{{ report.name }}</span><span>{{ report.date }}</span></a>
        {% endfor %}
    </div>
    {% else %}
        <p>There are no reports.</p>
        <a href="{% url 'analyzer:upload' %}" >Add some project</a>
    {% endif %}


</div>

{% endblock %}