<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Smart Code Analyzer</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'analyzer/style.css' %}"/>

</head>
<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="{% block reports_active %}{% endblock %}"><a href="{% url 'analyzer:reports' %}">Reports</a></li>
            <li><a href="{% url 'analyzer:upload' %}" > Add project <span class="glyphicon glyphicon-plus"></span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li class="navbar-brand">{{ user.username }}</li>
                <li><a href="{% url 'analyzer:logout' %}">Logout</a></li>
              {% else %}
                <li class="{% block register_active %}{% endblock %}"><a href="{% url 'analyzer:register' %}">Register</a></li>
                <li class="{% block login_active %}{% endblock %}"><a href="{% url 'analyzer:login' %}">Login</a></li>
              {% endif %}

              <li><a class="navbar-brand" href="#">Smart Code Analyzer</a></li>
          </ul>

      </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>