body{
    background: white url("img/sayagata.png");
}
#loginform{
    margin: 2% 30%;
}

.navbar-nav{
    margin-left: 5%;
}
#upload{
    margin: 15%;
}
#reports{
    margin: 2% 25%;
}

.btn-default{
	border: 2px solid #0099cc;
	color: #0066aa;

}